<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ejs</title>
    <style>
    <% if (type == 'admin') { %>
    <% include ../ejs_include/admin.css %>
    <% } else { %>
    <% include ../ejs_include/user.css %>
    <% } %>
    </style>
</head>
<body>
I'am <%= name %>,typeof  <%=type %>

</body>
</html>